In [1]:
import pandas as pd
import re
df = pd.read_csv("/Users/josegabriel/Desktop/ironhack/projecto week 4/WorldCupPlayers.csv")

In [2]:
df.head(5)

,RoundID,MatchID,Team Initials,Coach Name,Line-up,Shirt Number,Player Name,Position,Event
0,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Alex THEPOT,GK,NaN
1,201,1096,MEX,LUQUE Juan (MEX),S,0,Oscar BONFIGLIO,GK,NaN
2,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Marcel LANGILLER,NaN,G40'
3,201,1096,MEX,LUQUE Juan (MEX),S,0,Juan CARRENO,NaN,G70'
4,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Ernest LIBERATI,NaN,NaN

In [3]:
df.drop(["Position","Shirt Number","Line-up","Coach Name","RoundID"], axis = 1, inplace = True)
df.rename(columns= {"Event":"Goals"}, inplace = True)
df.fillna(0, inplace= True)

In [ ]:
#df['Goals'] = df['Goals'].replace(to_replace=r'Y\d+', value=0, regex=True)
#df['Goals'] = df['Goals'].replace(to_replace=r'IH\d+', value=0, regex=True)
#df['Goals'] = df['Goals'].replace(to_replace=r'I\d+', value=0, regex=True)
#df['Goals'] = df['Goals'].replace(to_replace=r'P\d+', value=1, regex=True)
#df['Goals'] = df['Goals'].replace(to_replace=r'R\d+', value=0, regex=True)
#df['Goals'] = df['Goals'].replace(to_replace=r'MP\d+', value=0, regex=True)
#df['Goals'] = df['Goals'].replace(to_replace=r'SY\d+', value=0, regex=True)
#df['Goals'] = df['Goals'].replace(to_replace=r'O\d+', value=0, regex=True)
#df['Goals'] = df['Goals'].replace(to_replace=r'OG\d+', value=0, regex=True)
#df['Goals'] = df['Goals'].replace(to_replace=r'W\d+', value=0, regex=True)
#df['Goals'] = df['Goals'].replace(to_replace=r'OH\d+', value=0, regex=True)
#df['Goals'] = df['Goals'].replace(to_replace=r'RS\d+', value=0, regex=True)
#df['Goals'] = df['Goals'].replace(to_replace=r'M\d+', value=0, regex=True)
#def count_g_numbers(event):
#    if isinstance(event, str):
#        return event.count('G')
#    return 0
#df['Goals'] = df['Goals'].apply(count_g_numbers)

In [4]:
df['Goals'] = df['Goals'].replace(to_replace=r'Y\d+', value=0, regex=True)
df['Goals'] = df['Goals'].replace(to_replace=r'IH\d+', value=0, regex=True)
df['Goals'] = df['Goals'].replace(to_replace=r'I\d+', value=0, regex=True)
df['Goals'] = df['Goals'].replace(to_replace=r'P\d+', value=1, regex=True)
df['Goals'] = df['Goals'].replace(to_replace=r'R\d+', value=0, regex=True)
df['Goals'] = df['Goals'].replace(to_replace=r'MP\d+', value=0, regex=True)
df['Goals'] = df['Goals'].replace(to_replace=r'SY\d+', value=0, regex=True)
df['Goals'] = df['Goals'].replace(to_replace=r'O\d+', value=0, regex=True)
df['Goals'] = df['Goals'].replace(to_replace=r'OG\d+', value=0, regex=True)
df['Goals'] = df['Goals'].replace(to_replace=r'W\d+', value=0, regex=True)
df['Goals'] = df['Goals'].replace(to_replace=r'OH\d+', value=0, regex=True)
df['Goals'] = df['Goals'].replace(to_replace=r'RS\d+', value=0, regex=True)
df['Goals'] = df['Goals'].replace(to_replace=r'M\d+', value=0, regex=True)
def count_g_numbers(event):
    if isinstance(event, str):
        return event.count('G')
    return 0
df['Goals'] = df['Goals'].apply(count_g_numbers)

In [5]:
df['Goals'].value_counts()

Goals
0    36460
1     1112
2      177
3       31
4        4
Name: count, dtype: int64

In [ ]:
df